.card {
  width: 90%;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 30px;
}

@media screen and (max-width: 700px){
  .card {
    margin: 20px 0px
  }

}

@media screen and (min-width: 768px) {
  .card {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 20%;
  }
}