.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

.link {
  background-color: #F57423;
  color: white;
  border-radius: .5rem;
  text-decoration: none;
  padding: .8rem;
  display: block;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}